.landing-page {
  background-image: url("./image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
}

.landing-page .content {
  /* background translucent dark brown */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 50%;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}
.landing-page .getstarted_button {
  background-color: #0a8035;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 20px;
}

.product-listing {
  display: absolute;
  overflow-x: hidden;
}
.product-listing.visible {
  top:0;
}

.aboutus_container {
  width: 90%; /* Adjust as needed */
}